.accordion {
  width: 100%; height: 100%;
}
.accordion .menu {
  overflow: hidden;
}
.accordion .item, .accordion .item-2 {
  overflow: hidden;
  padding: 0;
}
.accordion .item-2 {
  position: relative;
}
.accordion .item-2 input {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
  max-height: 45px;
  cursor: pointer;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.accordion .btn, 
.accordion .btn-2 {
  display: block;
  padding: 16px 20px;
  background: #000;
  color: white;
  position: relative;
  border: none;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
}
.accordion .btn::before, 
.accordion .btn-2::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #000;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.accordion .btn-2, .accordion .btn-2::before {
  color: #000;
  background: #fff;
}
.accordion .btn label {
  margin-left: 8px;
  cursor: pointer;
}
.accordion .btn i, 
.accordion .btn-2 i {
  margin-right: 10px;
}
.smenu, 
.ssmenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}
.smenu .lvl2,
.ssmenu .lvl3 {
  display: block;
  padding: 16px 26px;
  color: white;
  margin: 4px 0;
  position: relative;
  cursor: pointer;
  transition: padding-left 0.3s;
}
.smenu .lvl2:hover,
.ssmenu .lvl3:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.smenu .lvl2.active,
.ssmenu .lvl3.active {
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 40px;
  text-transform: uppercase;
}
.smenu .lvl2::before,
.ssmenu .lvl3::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}
.smenu .lvl2:hover::before, 
.ssmenu .lvl3:hover::before {
  opacity: 1;
}
.accordion .item:target .smenu {
  max-height: 100em;
}
.accordion .item:target .item-2 input:checked ~ .ssmenu {
  max-height: 100em;
}
@media (max-width: 400px) {
  .accordion .btn label {
    display: none;
  }
  .smenu .lvl2,
  .ssmenu .lvl3 {
    padding-left: 10px;
  }
  .smenu .lvl2.active,
  .ssmenu .lvl3.active {
    padding-left: 15px;
  }
}