.accordion {
  width: 100%; height: 100%;
}
.accordion .menu {
  overflow: hidden;
}

.accordion .item {
  overflow: hidden;
  padding: 0;
}

.accordion .btn {
  display: block;
  padding: 16px 20px;
  background: #000;
  color: white;
  position: relative;
  border: none;
  border-radius: 0;
}

.accordion .btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #000;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.accordion .btn i {
  margin-right: 10px;
}

.accordion .smenu {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.accordion .smenu div {
  display: block;
  padding: 16px 26px;
  color: white;
  margin: 4px 0;
  position: relative;
  cursor: pointer;
}

.accordion .smenu div::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.accordion .smenu div:hover::before {
  opacity: 1;
}

.accordion .item:target .smenu {
  max-height: 10em;
}