.App {
  text-align: center;
  min-width: 100%;
  /* font-family: "Dosis", sans-serif; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.socialContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.socialIcon {
  display: block;
  position: relative;
  max-width: 50px;
  height: 50px;
}
.socialIcon a{
  position: absolute;
  left: 0;
  min-width: 50px;
  min-height: 50px;
}
.socialIcon div{
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 50px;
  min-height: 50px;
  /* max-width: 50px; */
  /* transition: transform .3s; */
}
.socialIcon:hover div {
  -moz-animation: scaleandshrink 2s infinite linear;
  -webkit-animation: scaleandshrink 2s infinite linear;
  -o-animation: scaleandshrink 2s infinite linear;
  animation: scaleandshrink 2s infinite linear;
}
@-moz-keyframes scaleandshrink {
  0%, 100% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.3); }
}
@-webkit-keyframes scaleandshrink {
  0%, 100% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.3); }
}
@-o-keyframes scaleandshrink {
  0%, 100% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.3); }
}
@keyframes scaleandshrink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}
.paragraph {
  text-indent: 2em;
  text-align: justify;
  line-height: 1.3em;
}
.bg-gray{ background-color: #bbb;
}
.bg-black{ background-color: #000;
}
.bg-black-2-white{ 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(255, 255, 255, 0.5));
}
.highlight{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.column:not(span){
  margin: auto;
}
.moveToBtn{
  transition: transform 0.5s;
  align-self: center;
  transform: scale(2);
  max-height: 20px;
  /* animation: levitate 5s infinite; */
}
.moveToBtn:hover{
  transform: scale(3);
  cursor: pointer;
}
@keyframes levitate{
  50% { color: #000; }
  50% { padding-top: 25px }
}
#resume{
  color: white;
  padding: 5px 26px;
}
#resume:hover{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}
.vert-center{
  justify-content: center;
}
.skill-section {
  display: flex;
  flex-direction: row;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5% 0;
  transition: background-color 1s, box-shadow 1s;
}
@media all and (max-width: 575px){
  .skill-container {
    flex-direction: column;
  }
  .skills { flex-wrap: wrap;
  }
  .skills li { width: 100%;
  }
}
.skills li {
  display: flex;
  align-items: center;
}
.skills li p{
  border: 2px ridge #fff;
  padding: 2%;
  border-radius: 10px;
  border-left: 5px ridge rgba(255, 255, 255, 0.329);
  transition: border 0.4s, color 0.4s;
}
.skills li p:hover{
  animation: backNforth 1s infinite;
  color: #fff;
  border: 2px ridge #000;
  border-left: 5px ridge rgba(255, 255, 255, 0.329);
}
@keyframes backNforth{
  25% { padding-left: 0; }
  25% { padding-left: 20px; }
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.react-player iframe {
  border: none;
  width: 100%;
  margin: 0;
}