.BG-1 {
  background-image: url('../assets/footer_lodyas.png');
}
.BG-2 {
  background-image: url('../assets/50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg');
}
.BG-3 {
  background-image: url('../assets/wood.jpg');
}
.BG-4 {
  background-image: url('../assets/ssj-ssb-goku.png');
}
.BG-5 {
  background-image: url('../assets/ui-goku.jpg');
}
.BG-6 {
  background-image: url('../assets/orihime-kon.png');
}
.BG-7 {
  background-image: url('../assets/yoruichi.jpg');
}
.BG-8 {
  background-image: url('../assets/ichigo-fullbring-arc.jpg');
}