.drawer-btn {
  position: fixed;
  z-index: 99;
  padding: 8px;
  border-radius: 16px;
  right: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #fff;
  background-color: rgba(255, 255, 255, 0.315);
  transition: right 0.2s, background-color .2s;
}
.drawer-btn:hover {
  background-color: #fff;
}
.drawer-btn.open {
  right: calc(200px + 5px);
  box-shadow: 0 0 5px #f00;
  background-color: rgba(255, 0, 0, 0.315);
}
.drawer-btn.open:hover {
  background-color: #f00;
}
.drawer-btn.open .edit {
  color: #fff;
  -moz-animation: tilt 2s infinite linear;
  -webkit-animation: tilt 2s infinite linear;
  -o-animation: tilt 2s infinite linear;
  animation: tilt 2s infinite linear;
}
.drawer-btn.open:hover .edit {
  animation-duration: .5s;
}
@-moz-keyframes tilt {
  0%, 50%, 100% { -moz-transform: rotate(0); }
  25% { -moz-transform: rotate(10deg); }
  75% { -moz-transform: rotate(-10deg); }
}
@-webkit-keyframes tilt {
  0%, 50%, 100% { -webkit-transform: rotate(0); }
  25% { -webkit-transform: rotate(10deg); }
  75% { -webkit-transform: rotate(-10deg); }
}
@-o-keyframes tilt {
  0%, 50%, 100% { -o-transform: rotate(0); }
  25% { -o-transform: rotate(10deg); }
  75% { -o-transform: rotate(-10deg); }
}
@keyframes tilt {
  0%, 50%, 100% { transform: rotate(0); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}
.drawer {
  position: fixed;
  z-index: 98;
  display: flex;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: right 0.2s;
}
.drawer.open {
  right: 0;
}
@media (max-width: 400px) {
  .drawer-btn.open {
    right: calc(125px + 5px);
  }
  .drawer {
    right: -125px; width: 125px;
  }
}