.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* column-gap: 10px; */
  row-gap: 10px;
  overflow: hidden;
}

.cell.secret {
  display: none;
}

.gif {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.gif:hover {
  transform: scale(1.3);
}