.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 1em;
  row-gap: 1em;
  padding: 1em;
  overflow: hidden;
}

.cell.secret {
  display: none;
}

.gif {
  height: 100%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.gif:hover {
  cursor: pointer;
  background-size: 70%;
}