.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  overflow: hidden;
  background-color: #000;
  box-shadow: 0px 0px 10px #fff;
  font-family: "Dosis", sans-serif;
}
.navigation li { 
  list-style-type: none;
  padding: 14px 25px;
}
.navigation .navLink {
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 26px;
  transition: background-color 0.5s, 
    transform 0.5s, 
    font-weight 0.5s;
}
.navigation .navLink:link { color: #fff;
}
.navigation .navLink:visited { color: #fff;
}
.navLink:hover, .active, .active-blue, .active-green, .active-red, .active-orange {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.315);
  cursor: pointer;
  box-shadow: 0 0 5px #fff;
  transform: scale(1.1);
}
.blue:hover, .active-blue { 
  background-color: rgba(0, 0, 255, 0.315);
  box-shadow: 0 0 3px #00f;
}
.red:hover, .active-red { 
  background-color: rgba(255, 0, 0, 0.315);
  box-shadow: 0 0 3px #f00;
}
.green:hover, .active-green { 
  background-color: rgba(0, 255, 0, 0.315);
  box-shadow: 0 0 3px #0f0;
}
.orange:hover, .active-orange {
  background-color: rgba(255, 166, 0, 0.315);
  box-shadow: 0 0 3px #ffa600;
}
.blurple:hover, .active-blurple {
  background-color: #75779f;
  box-shadow: 0 0 3px #75779f;
}
.navigation .active { transform: scale(1);
}
.navigation .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media all and (max-width: 400px){
  .navigation{
    flex-direction: column;
  }
  .navigation li{ 
    padding: 1px 0;
  }
  .navigation .navLink{
    display: block;
  }
}

/* HEADERS */
.HEADER-2 { justify-content: flex-start; 
}
.HEADER-3 { justify-content: flex-end; 
}
.HEADER-4 { justify-content: space-around; 
}
.HEADER-5 { justify-content: space-between; 
}
.HEADER-6 { justify-content: space-evenly; 
}

/* BUTTON SIZES */
.BUTTON-2 li { padding: 0;
}


.BUTTON-2W li { 
  flex: 1;
  padding: 0;
}
.BUTTON-2W .navLink { 
  width: 100%;
  padding: 5px 0;
}
.BUTTON-2W .navLink:hover, 
.BUTTON-2W .active, 
.BUTTON-2W .active-blue, 
.BUTTON-2W .active-green, 
.BUTTON-2W .active-red,
.BUTTON-2W .active-orange { transform: scale(1);
}


.BUTTON-3 li { padding: 0;
}
.BUTTON-3 .navLink { padding: 14px 35px;
}
.BUTTON-3 .navLink:hover, 
.BUTTON-3 .active, 
.BUTTON-3 .active-blue, 
.BUTTON-3 .active-green, 
.BUTTON-3 .active-red,
.BUTTON-3 .active-orange { transform: scale(1);
}


.BUTTON-3W li { 
  flex: 1;
  padding: 0;
}
.BUTTON-3W .navLink { 
  width: 100%;
  padding: 14px 0;
}
.BUTTON-3W .navLink:hover, 
.BUTTON-3W .active, 
.BUTTON-3W .active-blue, 
.BUTTON-3W .active-green, 
.BUTTON-3W .active-red,
.BUTTON-3W .active-orange { transform: scale(1);
}

/* BUTTON STYLES */
.BTNSTYLE-2 .navLink {
  box-shadow: none;
} 
.BTNSTYLE-2 .navLink:hover, .BTNSTYLE-2 .active { background-color: #888;
}
.BTNSTYLE-2 .blue:hover, .BTNSTYLE-2 .active-blue { background-color: #00f;
} 
.BTNSTYLE-2 .green:hover, .BTNSTYLE-2 .active-green { background-color: #00b100;
} 
.BTNSTYLE-2 .red:hover, .BTNSTYLE-2 .active-red { background-color: #f00;
}
.BTNSTYLE-2 .orange:hover, .BTNSTYLE-2 .active-orange { background-color: #ffa600;
}


.BTNSTYLE-3 .navLink, .BTNSTYLE-3 .active { box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;
}
.BTNSTYLE-3 .blue:hover, .BTNSTYLE-3 .active-blue { box-shadow: rgba(0, 0, 255, 0.35) 0px -50px 36px -28px inset;
}
.BTNSTYLE-3 .green:hover, .BTNSTYLE-3 .active-green { box-shadow: rgba(0, 255, 0, 0.35) 0px -50px 36px -28px inset;
}
.BTNSTYLE-3 .red:hover, .BTNSTYLE-3 .active-red { box-shadow: rgba(255, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.BTNSTYLE-3 .orange:hover, .BTNSTYLE-3 .active-orange { box-shadow: rgba(255, 166, 0, 0.35) 0px -50px 36px -28px inset;
}