body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}
#root, .body { height: auto; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.BG-1 {
  background-image: url('../assets/footer_lodyas.png');
}
.BG-2 {
  background-image: url('../assets/50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg');
}
.BG-3 {
  background-image: url('../assets/wood.jpg');
}