.landing-parallaxx {
  background-attachment: fixed, fixed;
  background-position: left, top;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  animation: fight-movement 5s infinite;
}
.parallaxx {
  background-attachment: fixed, fixed;
  background-position: left, top;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  animation: fight-movement 5s infinite;
}
.fight-parallaxx {
  background-image: url('../assets/Fight.gif');
  background-attachment: fixed;
  background-position: left;
  background-size: auto;
  background-repeat: no-repeat;
  animation: fight-movement 5s infinite;
  margin-bottom: 0;
}
@keyframes fight-movement {
  50% { background-position: right, top; }
  25% { background-position-y: 50px, top; }
  /* 25% { background-position-y: bottom, top; } */
}
.IDLE-FIGHT {
  background-position: center, top;
  animation-play-state: paused;
}
.CORNER-FIGHT {
  animation: corner-movement 3s infinite;
}
@keyframes corner-movement {
  0% { background-position: top left, top; }
  25% { background-position: top right, top; }
  50% { background-position: bottom left, top; }
  75% { background-position: bottom right, top; }
  100% { background-position: top left, top; }
}
.BORDER-FIGHT {
  background-position: top left, top;
  animation: border-movement 3s infinite;
}
@keyframes border-movement {
  0% { background-position: top left, top; }
  25% { background-position: top right, top; }
  50% { background-position: bottom right, top; }
  75% { background-position: bottom left, top; }
  100% { background-position: top left, top; }
}
.TELEPORT-FIGHT {
  /* background-position: center, top;
  animation: teleport-center 2s 1, 
  teleport-left 2s 2s 1, 
  teleport-right 2s 4s 1,
  teleport-top 2s 6s 1,
  teleport-bottom 2s 8s 1; */
  animation: teleport-movement 4s infinite;
}
@keyframes teleport-left {
  0%, 100% { background-position: left, top; }
}
@keyframes teleport-right {
  0%, 100% { background-position: right, top; }
}
@keyframes teleport-top {
  0%, 100% { background-position: top, top; }
}
@keyframes teleport-bottom {
  0%, 100% { background-position: bottom, top; }
}
@keyframes teleport-center {
  0%, 100% { background-position: center, top; }
}
.landing-parallaxx > div {
  background-image: url('../assets/clouds.png');
  background-attachment: scroll;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
}
.landing-parallaxx h1 {
  box-shadow: 0 0 50px #fff;
}
.NONE-L, .NONE-S, .NONE-B { background-image: url('../assets/Fight.gif');
}
.PX-1 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG1.gif');
}
.PX-1B { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG1b.gif');
}
.PX-2 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG2.gif');
}
.PX-3 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG3.gif');
}
.PX-4 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG4.gif');
}
.PX-5 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG5.gif');
}
.PX-6 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG6.gif');
}
.PX-7 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG7.gif');
}
.PX-8 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG8.gif');
}
.PX-9 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG9.gif');
}
.PX-10 { background-image: url('../assets/Fight.gif'), 
  url('../assets/BG10.gif');
}
@keyframes teleport-movement {
  /* CENTER */
  0%, 100% { background-position: center, top; }
  /* 0%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 97%, 98%, 99%, 100% { background-position: center, top; } */
  1% { background-position: 52% 50%, top; }
  2% { background-position: 52% 50%, top; }
  3% { background-position: 48% 50%, top; }
  4% { background-position: 48% 50%, top; }
  5% { background-position: 56% 50%, top; }
  6% { background-position: 56% 50%, top; }
  7% { background-position: 44% 50%, top; }
  8% { background-position: 44% 50%, top; }
  9% { background-position: 60% 50%, top; }
  /* LEFT */
  10% { background-position: 25%, top; }
  11% { background-position: 25%, top; }
  12% { background-position: 24%, top; }
  13% { background-position: 23%, top; }
  14% { background-position: 22%, top; }
  15% { background-position: 21%, top; }
  16% { background-position: 20%, top; }
  17% { background-position: 19%, top; }
  18% { background-position: 18%, top; }
  19% { background-position: 25%, top; }
  /* RIGHT */
  20% { background-position: 75%, top; }
  21% { background-position: 76%, top; }
  22% { background-position: 77%, top; }
  23% { background-position: 78%, top; }
  24% { background-position: 79%, top; }
  25% { background-position: 80%, top; }
  26% { background-position: 81%, top; }
  27% { background-position: 82%, top; }
  28% { background-position: 83%, top; }
  29% { background-position: 81% 49%, top; }
  /* TOP */
  30% { background-position: 49% 5%, top; }
  31% { background-position: 49% 5%, top; }
  32% { background-position: 50% 6%, top; }
  33% { background-position: 50% 6%, top; }
  34% { background-position: 51% 5%, top; }
  35% { background-position: 51% 5%, top; }
  36% { background-position: 50% 6%, top; }
  37% { background-position: 50% 6%, top; }
  38% { background-position: 49% 5%, top; }
  39% { background-position: 49% 5%, top; }
  /* BOTTOM */
  40% { background-position: 50% 80%, top; }
  41% { background-position: 50% 80%, top; }
  42% { background-position: 51% 80%, top; }
  43% { background-position: 51% 80%, top; }
  44% { background-position: 50% 80%, top; }
  45% { background-position: 50% 80%, top; }
  46% { background-position: 49% 80%, top; }
  47% { background-position: 49% 80%, top; }
  48% { background-position: 50% 80%, top; }
  49% { background-position: 50% 80%, top; }
  /* TOP LEFT */
  50% { background-position: 5% 5%, top; }
  51% { background-position: 5% 5%, top; }
  52% { background-position: 4% 4%, top; }
  53% { background-position: 4% 4%, top; }
  54% { background-position: 4% 4%, top; }
  55% { background-position: 3% 3%, top; }
  56% { background-position: 3% 3%, top; }
  57% { background-position: 3% 3%, top; }
  58% { background-position: 2% 2%, top; }
  59% { background-position: 5% 5%, top; }
  /* BOTTOM RIGHT */
  60% { background-position: 95% 95%, top; }
  61% { background-position: 95% 95%, top; }
  62% { background-position: 96% 96%, top; }
  63% { background-position: 96% 96%, top; }
  64% { background-position: 96% 96%, top; }
  65% { background-position: 97% 97%, top; }
  66% { background-position: 97% 97%, top; }
  67% { background-position: 97% 97%, top; }
  68% { background-position: 98% 98%, top; }
  69% { background-position: 95% 95%, top; }
  /* BOTTOM LEFT */
  70% { background-position: 5% 90%, top; }
  71% { background-position: 5% 90%, top; }
  72% { background-position: 6% 90%, top; }
  73% { background-position: 6% 90%, top; }
  74% { background-position: 6% 90%, top; }
  75% { background-position: 7% 90%, top; }
  76% { background-position: 7% 90%, top; }
  77% { background-position: 7% 90%, top; }
  78% { background-position: 8% 90%, top; }
  79% { background-position: 5% 90%, top; }
  /* TOP RIGHT */
  80% { background-position: 93% 8%, top; }
  81% { background-position: 93% 8%, top; }
  82% { background-position: 94% 7%, top; }
  83% { background-position: 94% 7%, top; }
  84% { background-position: 94% 7%, top; }
  85% { background-position: 95% 6%, top; }
  86% { background-position: 95% 6%, top; }
  87% { background-position: 95% 6%, top; }
  88% { background-position: 96% 5%, top; }
  89% { background-position: 93% 8%, top; }
  /* CENTER */
  90% { background-position: 50% 50%, top; }
  91% { background-position: 49% 51%, top; }
  92% { background-position: 51% 49%, top; }
  93% { background-position: 50% 50%, top; }
  94% { background-position: 51% 51%, top; }
  95% { background-position: 49% 49%, top; }
  96% { background-position: 50% 50%, top; }
  97% { background-position: 49% 50%, top; }
  98% { background-position: 51% 50%, top; }
  99% { background-position: 50% 50%, top; }
}