.img{
  min-width: 50px;
  min-height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  box-shadow: 0 0 5px #fff;
}
.r{
  box-shadow: 0 0 5px #f00;
}
.blu{
  box-shadow: 0 0 5px #00f;
}
.g{
  box-shadow: 0 0 5px #0f0;
}