.project-page {
  padding: 0 0 4% 0;
  margin: 0;
}
.project-page .body-content {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "item-b item-c item-d"
  ". item-e ."
  "item-a item-a item-a";
  row-gap: 4%;
}
.project-page .body-content img {
  max-width: 80vw;
}

.item-a { grid-area: item-a; }
.item-b { 
  grid-area: item-b; 
  font-size: xx-large;
  text-transform: uppercase;
}
.item-c { 
  grid-area: item-c; 
  text-align: center;
  line-height: 1.3em;
  margin: 0 2%;
}
.item-d { grid-area: item-d; }
.item-e { 
  padding: 0 !important;
  grid-area: item-e; 
  justify-content: center;
}
.item-d h6 { 
  margin: auto;
  width: calc(100% - 100px);
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}
.item-d .row { flex-wrap: wrap;
}
.item-b, .item-c, .item-d, .item-e {
  padding: 8px;
  color: #fff;
  background-color: #000;
  box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;
}
