.secret .input-card {
  display: grid;
  position: relative;
  color: #fff;
  padding: 2.5%;
  row-gap: 10px;
  grid-template-rows: max-content 20px max-content;
  background-color: #000;
}
.input-card .lock, .input-card .lock-open {
  object-fit: cover;
  width: 50%;
  height: 100%;
  justify-self: center;
}
.input-card .lock.error {
  -moz-animation: shake .8s;
  -webkit-animation: shake .8s;
  -o-animation: shake .8s;
  animation: shake .8s;
}
@-moz-keyframes shake {
  10%, 90% { -moz-transform: translate3d(-1px, 0, 0); color: rgba(255, 0, 0, 0.2); }
  20%, 80% { -moz-transform: translate3d(2px, 0, 0); color: rgba(255, 0, 0, 0.7); }
  30%, 50%, 70% { -moz-transform: translate3d(-3px, 0, 0); color: rgba(255, 0, 0, 1); }
  40%, 60% { -moz-transform: translate3d(3px, 0, 0); color: rgba(255, 0, 0, 1); }
}
@-webkit-keyframes shake {
  10%, 90% { -webkit-transform: translate3d(-1px, 0, 0); color: rgba(255, 0, 0, 0.2); }
  20%, 80% { -webkit-transform: translate3d(2px, 0, 0); color: rgba(255, 0, 0, 0.7); }
  30%, 50%, 70% { -webkit-transform: translate3d(-3px, 0, 0); color: rgba(255, 0, 0, 1); }
  40%, 60% { -webkit-transform: translate3d(3px, 0, 0); color: rgba(255, 0, 0, 1); }
}
@-o-keyframes shake {
  10%, 90% { -o-transform: translate3d(-1px, 0, 0); color: rgba(255, 0, 0, 0.2); }
  20%, 80% { -o-transform: translate3d(2px, 0, 0); color: rgba(255, 0, 0, 0.7); }
  30%, 50%, 70% { -o-transform: translate3d(-3px, 0, 0); color: rgba(255, 0, 0, 1); }
  40%, 60% { -o-transform: translate3d(3px, 0, 0); color: rgba(255, 0, 0, 1); }
}
@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); color: rgba(255, 0, 0, 0.2); }
  20%, 80% { transform: translate3d(2px, 0, 0); color: rgba(255, 0, 0, 0.7); }
  30%, 50%, 70% { transform: translate3d(-3px, 0, 0); color: rgba(255, 0, 0, 1); }
  40%, 60% { transform: translate3d(3px, 0, 0); color: rgba(255, 0, 0, 1); }
}

.secret .input-card input {
  text-align: center;
}

.secret .close {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color .5s;
}
.secret .close:hover {
  color: #f00;
  cursor: pointer;
}