#slideShowContainer {
  box-shadow: 0 -15px 20px rgba(255, 255, 255, 0.5),
              0 0 60px rgba(255, 255, 255, 0),
              0 0 70px rgba(255, 255, 255, 0);
}
.next, .prev {
  cursor: pointer;
  padding: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px;
}
.next:hover, .prev:hover {
  background-color: rgba(255, 255, 255, 0.226);
}
#code {
  margin: 2% 0;
  text-align: center;
}
.desc {
  margin: 3% 0 0 0;
  /* text-indent: 2em; */
  text-align: left;
  line-height: 1.3em;
}
.indicator {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.indicator.active {
  border: 0.5px dashed #fff;
  background-color: #008fc5;
}
.indicator:hover {
  border: 0.5px dashed #fff;
}
.next p:hover, .prev p:hover {
  transform: scale(1.2);
}
a.see-more {
  color: #000;
  padding: 5px 10px;
}
.see-more.cool-btn-2::before {
	background-color: rgba(0, 0, 0, 0.1);
}
.see-more.cool-btn-2::after {
	border: 1px solid rgba(0,0,0,0.5);
}