#slideShowContainer{
  box-shadow: 0 -15px 20px rgba(255, 255, 255, 0.5),
              0 0 60px rgba(255, 255, 255, 0),
              0 0 70px rgba(255, 255, 255, 0);
}
.next, .prev{
  cursor: pointer;
  padding: 5px;
  color: #fff;
}
.next:hover, .prev:hover{
  background-color: rgba(255, 255, 255, 0.226);
}
.BG-8 .next:hover, .BG-8 .prev:hover{
  background-color: rgba(0, 0, 0, 0.226);
}
#code{
  margin-top: 5%;
  text-align: center;
}
.indicator{
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.BG-8 .indicator {
  background-color: #000;
}
.indicator.active {
  border: 0.5px dashed #fff;
  background-color: #008fc5;
}
.indicator:hover {
  border: 0.5px dashed #fff;
}
.next p:hover, .prev p:hover {
  transform: scale(1.2);
}
/* .next:hover{
  box-shadow: 5px 0 15px 15px rgba(255, 255, 255, 0.226),
              0 0 10px 1px #000;
}
.prev:hover{
  box-shadow: -5px 0 15px 15px rgba(255, 255, 255, 0.226),
              0 0 10px 1px #000;
} */
.BG-8 #slideShowContainer .card {
  border-color: rgba(0, 0, 0, 0.226);
}