$black: #000;
$white: #fff;

.DARK {
  .audio-player {
    color: $white;
    background-color: $black !important;
    svg, div { color: $white; }
  }
  .drawer {
    .accordion {
      .item:hover .btn, .item:hover .btn::before { background-color: rgb(32, 32, 32);
      }
      .item-2:hover .btn-2, .item-2:hover .btn-2::before { background-color: rgb(189, 189, 189);
      }
    }
  }
}
.LIGHT {
  .landing-parallaxx > div { background-color: rgba(0, 0, 0, 0.4);
  }
  .landing-parallaxx h1 { box-shadow: 0 0 50px #000;
  }
  .audio-player {
    svg, div { color: $black; }
    .rhap_progress-filled, .rhap_progress-indicator, .rhap_volume-indicator { background-color: $black;
    }
  }
  .navigation {
    background-color: $white;
    box-shadow: 0px 0px 10px $black;
    &.BTNSTYLE-1 {
      .navLink, .navLink:link, .navLink:visited { color: $black;
      }
      .navLink:not(.red):not(.green):not(.blue):not(.orange):hover, .active { background-color: rgba(0, 0, 0, 0.315); box-shadow: 0 0 5px $black;
      }
    }
    &.BTNSTYLE-2 {
      .navLink:link, .navLink:visited { color: $black;
      }
      .navLink:hover, .navLink.active, .navLink.active-blue, .navLink.active-green, .navLink.active-red, .navLink.active-orange { color: $white;
      }
    }
    &.BTNSTYLE-3 {
      .navLink { 
        color: $black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      }
      .navLink:hover, .active { box-shadow: rgba(0, 0, 0, 0.7) 0px -50px 36px -28px inset;
      }
      .navLink:hover, .active, .active-blue, .active-green, .active-red, .active-orange { color: $white;
      }
    }
  }
  .landing-parallaxx h1, 
  .fight-parallaxx, .fight-parallaxx div, .parallaxx,
  #me div,
  #resume, .moveToBtn,
  #slideShowContainer .prev, #slideShowContainer .next,
  .cards-slider-wrapper .card .title { color: $black !important;
  }
  .indicator { background-color: $black;
  }
  #slideShowContainer .card { border-color: rgba(0, 0, 0, 0.226);
  }
  .drawer-btn {
    box-shadow: 0 0 5px $black;
    background-color: rgba(0, 0, 0, 0.315);
    &:hover { background-color: $black;
    }
    & .edit { color: $white; 
    }
  }
  .drawer {
    &.open { 
      border-left: .5px solid $black;
      .accordion {
        .btn, .btn::before { background: $white;
        }
        .btn-2, .btn-2::before { color: $white;
        }
        .lvl2, .lvl3, .btn, .btn::before { color: $black; 
        }
        .lvl2::before, .lvl3::before, .btn-2, .btn-2::before { background: $black; 
        }
        .lvl2:hover, .lvl3:hover { background-color: rgba(255, 255, 255, 0.2);
        }
        .lvl2.active, .lvl3.active { background-color: rgba(255, 255, 255, 0.4);
        }
        .item:hover .btn, .item:hover .btn::before { background-color: rgb(189, 189, 189);
        }
        .item-2:hover .btn-2, .item-2:hover .btn-2::before { background-color: rgb(32, 32, 32);
        }
      }
    }
  }
  .project-page .body-content { 
    .item-b, .item-c, .item-d { color: $black; }
    .item-d h6 { border-color: $black; }
  }
}