@import url('https://fonts.googleapis.com/css?family=Dosis');
$mainFont: 'Dosis', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');
$bodyFont: 'Open Sans', sans-serif;
//base font size
$textSize: 12pt;